<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Album Photo
    </ion-title>
    <ion-button fill="outline" slot="end" [routerLink]="['/tab1']">HOME</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Album Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <img src={{album.url}} /> 
      <ion-label>{{album.title}}</ion-label>
    </ion-card-content>
  </ion-card>
  
</ion-content>
