<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User Info</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let card of userCard" href="#">
    <ion-card-content [routerLink]="['/tab2']">
      <ion-card-subtitle>ID: {{card.id}}</ion-card-subtitle>
      <ion-card-subtitle>Name: {{card.name}}</ion-card-subtitle>
      <ion-card-subtitle>Email: {{card.email}}</ion-card-subtitle>
      <ion-card-subtitle>Phone: {{card.phone}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>